header{
    text-align: center;
    font-size: 400%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} 
body{
    background-image: url("https://images.pexels.com/photos/4480529/pexels-photo-4480529.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    
}
.section{       
    font-family: Arial, Helvetica, sans-serif;
    
}

  
 .can{
    font-family: Arial, Helvetica, sans-serif;
 }
#nav a{
    color: white;
    text-decoration: underline;
}
  
  
  